.loading {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 10px;
  background-color: #000;
  min-height: 100vh;
}

.loading__logo-icon {
  width: 80px;
}

.loading__logo-around {
  width: 280px;
}

.loading__text {
  font-family: "Inter", sans-serif;
  color: #fff;
  line-height: 1.21;
}
