.login {
  padding-top: 20px;
}

.login__title {
  font-size: 24px;
  text-align: center;
  margin: 0 0 50px 0;
}

.login__fieldset {
  display: flex;
  flex-direction: column;
  max-width: 358px;
  padding: 0;
  margin: auto;
  border: none;
}

.login__form-field:first-of-type {
  margin-bottom: 30px;
}

.login__form-field:last-of-type {
  margin-bottom: 216px;
}

.login__signup-text {
  font-size: 14px;
  text-align: center;
}

.login__signup-link {
  margin-left: 4px;
  text-decoration: none;
  color: #fff;
  transition: color linear 0.3s;
}

.login__signup-link:hover {
  color: rgba(255, 255, 255, 0.6);
}

@media screen and (max-width: 590px) {
  .login {
    padding: 0 27px 0;
  }

  .login__title {
    font-size: 20px;
  }

  .login__form-field:last-of-type {
    margin-bottom: 173px;
  }

  .login__signup-text {
    font-size: 12px;
  }
}
